[submodule "external/tinyply"]
	path = external/tinyply
	url = https://github.com/ddiakopoulos/tinyply
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/args"]
	path = external/args
	url = https://github.com/Taywee/args
[submodule "external/simple-knn"]
	path = external/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn
[submodule "external/diff-gaussian-rasterization"]
	path = external/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
