.vscode
build/
cmake-build-debug/
cmake-build-release/
external/libtorch/
external/glad/
external/imgui/
output*
results
.idea
imgui.ini
data
*.pt
*.py
.venv/
*.png
*.sqlite
test.py
*.nsys-rep
testdata

*.pt
!weights/*.pt
