.vscode
build/
cmake-build-debug/
cmake-build-release/
external/libtorch/
external/glad/
external/imgui/
external/debug/
external/release/
output*
results
.idea
imgui.ini
data
*.pt
*.py
.venv/
*.png
*.sqlite
test.py
*.nsys-rep
testdata
vcpkg/
vcpkg/**
vcpkg_*/**
vcpkg_*/
build*/
build*/**

*.pt
!weights/*.pt
lichtfeld-studio.aps
.vs