[submodule "external/tinyply"]
	path = external/tinyply
	url = https://github.com/ddiakopoulos/tinyply
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/args"]
	path = external/args
	url = https://github.com/Taywee/args
