[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/args"]
	path = external/args
	url = https://github.com/Taywee/args
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/panxkun/glad-opengl-core43.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
